// Breakpoints
$bp-mobile: 414px;
$bp-tablet: 768px;
$bp-desktop: 1024px;
$bp-lg-desktop: 1280px;

// Font
$font-display: 'Work Sans', sans-serif;
$font-sans: Oswald, sans-serif;
$font-body: Georgia, sans-serif;

$medium: 400;
$semibold: 500;
$bold: 600;
$extrabold: 900;

// Color
$black: #000000;
$white: #ffffff;
$accent: #749bff;
$gray: #7e7e7e;

// Positioning
$z-above: 10;
$z-modal: 20;
$z-fixed: 30;

// Font Size
$font-sm: 1rem;
$font-md: 1.5rem;
$font-lg: 2rem;

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  overflow-x: hidden;
}

html {
  font-family: $font-display;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1;
}

p {
  font-size: 1.2rem;
  line-height: 1.5;
}

ul {
  list-style: none;
}

img {
  display: block;
}

// USEFUL CLASSES
.visuallyHidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden;
}

.lockScroll {
  overflow: hidden;
}

.blurContent {
  filter: blur(10px);
}

.accentText {
  color: $accent;
  text-transform: uppercase;
  font-family: $font-sans;
  font-weight: $semibold;
  font-size: 0.8rem;
  letter-spacing: 1px;

  @media (min-width: $bp-desktop) {
    font-size: 1rem;
  }
}
